#myCanvas{
  /* height: 30rem;
  width: 30rem; */
  border: solid black;
  background-color: white;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.color{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0.6rem;
}